<aside class="collection-sidebar">
    <div class="collection-sidebar__header">
        <h2 class="headline-smaller">Kategorier</h2>
    </div>
    {% include 'sidebar-linklist', handle: 'sidebar-menu' %}
</aside>