<div class="cart-drawer js-cart-drawer"></div>
<div class="cart-drawer__inner js-cart-drawer-inner">
    <div class="cart-drawer__header">
        <h4>Inkøbskurv <span class="cart-drawer__item-count">({{ cart.item_count }})</span></h4>
        <span class="cart-drawer__close js-cart-drawer-close">{% include 'icons' with 'close' %}</span>
    </div>

    {% comment %} {% include 'line-items' %} {% endcomment %}
    <div class="line-item-test"></div>

    <div class="cart-drawer__footer">
        <div class="cart-drawer__footer__subtotal">
            <p>Subtotal</p>
            <p>{{ cart.total_price | money_without_trailing_zeros }}</p>
        </div>

        <div class="cart-drawer__footer__total">
            <p>Fragt</p>
            <p>30 kr</p>
        </div>

        <div class="cart-drawer__footer__total">
            <p>Total</p>
            {% assign delivery = 3000 %}
            {% assign total = cart.total_price | plus: delivery %}
            <p>{{ total | money_without_trailing_zeros }}</p>
        </div>

        <div class="cart-drawer__footer__buttons">
            <a href="/cart" class="btn">Gå til kurven</a>
        </div>
    </div>
</div>