{% assign s = section.settings %}

<div class="site-footer__inner container">
    <div class="site-footer__col">
        <p class="site-footer__text">{{ s.text }}</p>
        <h3 class="site-footer__heading"><a href="tel:+4521475921">+45 21 47 59 21</a></h3>
        <p class="site-footer__text">Mandag - Torsdag: 8.00 - 16.00</p>
        <p class="site-footer__text">Fredag: 8.00 - 15.00</p>
        <h3 class="site-footer__heading"><a href="mailto:info@re-art.dk">info@re-art.dk</a></h3>
    </div>

    <div class="site-footer__col">
        <h3 class="site-footer__heading">Kategorier</h3>
    </div>

    <div class="site-footer__col">
        <h3 class="site-footer__heading">Nyttige links</h3>
    </div>
</div>

{% schema %}
    {
        "name": "Footer",
        "class": "site-footer",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "Overskrift",
                "default": "Har du et spørgsmål?"
            }
        ]
    }
{% endschema %}