{% assign s = section.settings %}
<div class="container">
    <div class="info-section__inner{% if s.reverse %} reverse{% endif %}">
        <div class="info-section__image">
            {{ s.img | img_url: 'master' | img_tag: 'Info image', 'info-section__image__img' }}
        </div>
        <div class="info-section__text">
            <h2 class="h1">{{ s.headline }}</h2>
            {{ s.text }}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Info sektion",
        "class": "info-section",
        "settings": [
            {
                "type": "image_picker",
                "id": "img",
                "label": "Baggrundsbillede"
            },
            {
                "type": "text",
                "id": "headline",
                "label": "Overskrift"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Tekst"
            },
            {
                "type": "checkbox",
                "id": "reverse",
                "label": "Byt rundt på billede og tekst?",
                "default": false
            }
        ],
        "presets": [
            {
                "name": "Info section",
                "category": "info section"
            }
        ]
    }
{% endschema %}