<div class="inspiration-page">
    <div class="inspiration-page__inner container">
        <div class="inspiration-page__header">
            <h1 class="inspiration-page__header--title h3">{{ page.title }}</h1>

            {% if section.settings.desc != blank %}
                <p class="inspiration-page__header--description">{{ section.settings.desc }}</p>
            {% endif %}
        </div>

        <div class="inspiration-page__grid">
            {% for block in section.blocks %}
                <div class="inspiration-page__grid-item" data-inspiration-item>
                    <img src="{{ block.settings.image | img_url: 'large' }}" alt="">
                </div>
            {% endfor %}
        </div>

        <div class="inspiration-page__modal" data-inspiration-modal>
            <div class="container">
                <div class="inspiration-page__slider__close" data-inspiration-close>
                    {% include 'icons' with 'close' %}
                </div>

                <div class="inspiration-page__slider__arrow prev">
                    {% include 'icons' with 'chevron-down' %}
                </div>

                <div class="inspiration-page__slider__arrow next">
                    {% include 'icons' with 'chevron-down' %}
                </div>

                <div class="inspiration-page__slider" data-inspiration-slider>
                    {% for block in section.blocks %}
                        <div class="inspiration-page__slider__slide">
                            <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Inspirationsbillede",
        "settings": [{
            "type": "header",
            "content": "Inspirationsside beskrivelse"
        },
        {
            "type": "text",
            "id": "desc",
            "label": "Lille beskrivelse"
        }],
        "blocks": [{
            "type": "image",
            "name": "Billede",
            "settings": [{
                "type": "image_picker",
                "id": "image",
                "label": "Vælg billede"
            }]
        }]
    }
{% endschema %}