{% assign s = section.settings %}

<div class="slidenav__inner">
    <div class="slidenav__left">
        <div class="slidenav__left__image-wrapper">
            <div class="slidenav__left__link-title"></div>
            {{ s.img | img_url: 'large' | img_tag }}
        </div>
    </div>

    <div class="slidenav__right">
        <div class="slidenav__close">Close</div>

        <div class="slidenav__nav">
            <h3>{{ s.text }}</h3>
            {% include 'linklist' with class: 'slidenav__linklist' %}
        </div>
    </div>
</div>

<div class="slidenav__layer"></div>

{% schema %}
    {
        "name": "slidenav",
        "class": "slidenav",
        "settings": [
            {
                "type": "text",
                "id": "text",
                "label": "Overskrift"
            },
            {
                "type": "link_list",
                "id": "nav",
                "label": "Vælg linkliste"
            },
            {
                "type": "image_picker",
                "id": "img",
                "label": "Vælg billede til venstre side af menuen"
            }
        ]
    }
{% endschema %}