@font-face {
    font-family: 'Butler';
    src: url('Butler-Bold.woff');
    src: url('Butler-Bold.woff2');
    src: url('Butler-Medium.woff2');
    src: url('Butler-Medium.woff2');
}

// Vars
$white: #ffffff;
$black: #000000;
$grey: #e3e3e3;

$header-height: 70px;


// Base
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preview-bar-iframe {
    display: none !important;
}

html {
    padding: 0 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Butler', serif;
    font-weight: 500;
    font-size: 50px;
}

h2 {
    font-family: 'Butler', serif;
    font-weight: 500;
    font-size: 40px;
}

h3 {
    font-family: 'Butler', serif;
    font-weight: 500;
    font-size: 30px;
}

h4 {
    font-family: 'Butler', serif;
    font-weight: 500;
    font-size: 30px;
}

p {
    font-size: 16px;
    line-height: 1.4;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: $black;

    text-decoration: none;

    &:focus {
        outline: none;
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
}


// Defaults
.container {
    position: relative;

    width: 90%;
    max-width: 1440px;

    margin: 0 auto;
}

.btn {
    display: inline-block;

    padding: 18px 36px;

    background: transparent;

    font-size: 14px;

    text-transform: uppercase;

    border: 1px solid $black;

    transition: all .3s ease-in-out;
    transition-property: background, border-color;

    &--white {
        background: $white;
        color: $black;
        border-color: $white;

        &:hover {
            background: $black;
            color: $white;
            border-color: $black;
        }
    }

    &:hover {
        background: $black;
        color: $white;
    }
}

.product-card {
    display: flex;
    flex-direction: column;

    &__image {
        transition: opacity 0.3s ease-out;

        &:hover {
            opacity: 0.8;
        }
    }


    &__title {
        margin-top: 10px;
        margin-bottom: 5px;

        font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-weight: 300;
    }

    &__price {
        font-size: 18px;
        font-weight: 500;
    }
}

// Header
.site-header__wrapper {
    display: block;

    padding-bottom: $header-height;
}

.site-header {
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: $header-height;

    background: $white;
    color: $black;

    box-shadow: 0 0 15px rgba(#000, .05);

    z-index: 1000;

    &__inner {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;
    }

    &__logo__wrapper {
        flex: 1;

        display: flex;
        align-items: center;

        .logo {
            display: block;

            font-weight: 600;
            font-size: 18px;
        }
    }

    &__logo {
        display: block;

        width: 100%;
        height: auto;
    }

    &__navigation {
        display: block;

        height: 100%;

        &__menu {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;

            .menu__item {
                margin: 0 20px;

                .menu__item__link {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1;

                    color: $black;

                    text-decoration: none;
                }
            }
        }
    }

    &__icons {
        flex: 1;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        height: 100%;
    }

    &__search {
        width: 20px;

        cursor: pointer;
    }

    &__cart {
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 20px;

        margin-left: 30px;

        cursor: pointer;

        img {
            display: block;
        }
    }

    &__cart-count {
        position: absolute;
        top: -5px;
        right: -5px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 15px;
        height: 15px;

        font-size: 8px;

        background: $black;
        color: $white;

        border-radius: 50%;
    }

    &__burger {
        position: relative;

        width: 25px;
        height: 15px;

        margin-left: 30px;

        cursor: pointer;

        &__line {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 2px;

            background: $black;

            &:nth-child(2) {
                top: 50%;

                transform: translateY(-50%);
            }

            &:nth-child(3) {
                top: unset;
                bottom: 0;
            }
        }
    }
}

// Footer
.site-footer {
    position: relative;

    width: 100%;

    margin-top: 50px;
    padding: 70px 0;

    background: #ededed;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        flex: 1;

        &:first-child {
            flex: 2;
        }
    }

    &__heading {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__text {
        line-height: 1.6;
    }
}

// Slidenav
.slidenav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 0;

    background: $white;

    z-index: 1010;

    &__layer {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 0;

        background: $black;

        z-index: 10;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;

        cursor: pointer;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;

        background: $white;

        z-index: 1010;
    }

    &__left {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 40%;
        height: 100%;

        background: $white;

        &__image-wrapper {
            position: relative;
            width: 50%;
            height: 50vh;

            img {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__link-title {
            position: absolute;
            top: -30px;
            left: -40px;

            font-family: 'Butler', serif;
            font-size: 40px;

            opacity: 0;
            transform: translateY(20px);
            transition: all 0.3s ease-out;
            transition-property: transform, opacity;

            z-index: 1;

            &.active {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__right {
        position: absolute;
        top: 0;
        right: 0;

        width: 60%;
        height: 100%;

        background: $grey;

        pointer-events: none;
    }

    &__nav {
        position: absolute;
        top: 150px;
        left: 150px;

        h3 {
            margin-bottom: 15px;

            font-size: 50px;
        }
    }

    &__linklist__menu {
        .menu__item {
            opacity: 0;
            transform: translateY(20px);

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            a {
                font-size: 20px;
            }
        }
    }
}

// Hero
.hero {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: calc(100vh - #{$header-height});

    &__slider {
        position: relative;
        width: 100%;
        height: 100%;

        .slick-list,
        .slick-track {
            height: 100%;
        }

        .slick-slide {
            > div {
                height: 100%;
            }
        }
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        z-index: 1;
    }

    &__text-wrapper {
        margin-left: 5%;
    }

    &__title {
        max-width: 500px;

        margin-bottom: 10px;
    }

    &__text {
        max-width: 400px;
        margin-bottom: 50px;
    }

    &__scroll {
        position: absolute;
        bottom: 10%;
        left: 50%;

        transform: translateX(-50%) rotate(-90deg);

        font-size: 12px;
        letter-spacing: 1px;

        text-transform: uppercase;

        z-index: 1;

        &:before {
            content: '';

            position: absolute;
            top: 50%;
            left: -90px;

            width: 70px;
            height: 2px;

            background: $black;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;

        z-index: -1;
    }
}

// Featured collection
.featured-collection {
    margin-top: 100px;
    margin-bottom: 60px;

    &__title {
        max-width: 300px;

        margin-bottom: 30px;

        transform: translateY(20px);

        opacity: 0;
    }

    &__slider {
        transform: translateY(20px);

        opacity: 0;

        &__controls {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100vw;

            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 0 calc(-50vw + 50%);
            padding: 0 20px;

            transform: translateY(-50%);

            z-index: 1;

            .slick-arrow {
                width: 20px;
            }

            .prev,
            .next {
                cursor: pointer;
            }

            .prev {
                transform: rotate(180deg);
            }
        }
    }

    .slick-list {
        margin: 0 -10px;
    }

    .slick-slide {
        margin: 0 10px;
    }

    &__product-card {
        width: 25%;
    }
}

// Featured category
.featured-category {
    margin-bottom: 60px;

    &__title {
        margin-bottom: 30px;
    }

    &__row {
        min-width: 100%;

        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;

        margin: -20px;
        padding-bottom: 20px;
    }

    &__col {
        position: relative;
        width: calc(50% - 40px);

        margin: 20px;

        &:before {
            content: '';

            position: absolute;
            top: 0;
            height: 0;
            width: 100%;
            height: 100%;

            background: $white;

            transition: all 0.7s ease-in-out;
            transition-delay: 0.2s;

            z-index: 2;
        }

        &.is-visible {
            .featured-category__cat__title {
                opacity: 1;
                transform: translate(0);
            }

            .featured-category__btn {
                opacity: 1;
                transform: translate(0);
            }

            &:before {
                width: 0;
                transform: skewX(4px);
            }
        }

        &:nth-of-type(2) {
            .featured-category__cat__title {
                transition-delay: 1s;
            }

            .featured-category__btn {
                transition-delay: 1.2s;
            }

            &:before {
                transition-delay: 0.4s;
            }
        }

        &:nth-of-type(3) {
            .featured-category__cat__title {
                transition-delay: 1.2s;
            }

            .featured-category__btn {
                transition-delay: 1.4s;
            }

            &:before {
                transition-delay: 0.6s;
            }
        }

        &:nth-of-type(4) {
            .featured-category__cat__title {
                transition-delay: 1.4s;
            }

            .featured-category__btn {
                transition-delay: 1.6s;
            }

            &:before {
                transition-delay: 0.8s;
            }
        }

        &:nth-of-type(5) {
            .featured-category__cat__title {
                transition-delay: 1.6s;
            }

            .featured-category__btn {
                transition-delay: 1.8s;
            }

            &:before {
                transition-delay: 1s;
            }
        }

        &:nth-of-type(6) {
            .featured-category__cat__title {
                transition-delay: 1.8s;
            }

            .featured-category__btn {
                transition-delay: 2s;
            }

            &:before {
                transition-delay: 1.2s;
            }
        }

        &:after {
            content: '';

            display: block;

            padding-top: 70%;
        }

        @media screen and (max-width: 700px) {
            width: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: rgba(#000, 0.25);
        }
    }

    &__info-wrapper {
        position: absolute;
        bottom: 60px;
        left: 60px;
    }

    &__cat__title {
        position: relative;

        margin-bottom: 10px;

        transform: translateY(20px);

        transition: all 0.5s ease-in-out;
        transition-delay: 0.8s;

        opacity: 0;

        color: $white;

        z-index: 1;
    }

    &__btn {
        position: relative;

        opacity: 0;

        transform: translateY(20px);

        transition: all 0.5s ease-in-out;
        transition-delay: 1s;

        z-index: 1;
    }
}

// Featured theme
.featured-theme {
    margin-bottom: 60px;

    &__title {
        margin-bottom: 30px;
    }

    &__row {
        min-width: 100%;

        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;

        margin: -20px;
        padding-bottom: 20px;
    }

    &__col {
        position: relative;
        width: calc(33% - 40px);

        margin: 20px;

        &:before {
            content: '';

            position: absolute;
            top: 0;
            height: 0;
            width: 100%;
            height: 100%;

            background: $white;

            transition: all 0.7s ease-in-out;
            transition-delay: 0.2s;

            z-index: 2;
        }

        &.is-visible {
            .featured-theme__cat__title {
                opacity: 1;
                transform: translateY(0);
            }

            .featured-theme__btn {
                opacity: 1;
                transform: translateY(0);
            }

            &:before {
                width: 0;

                left: -20px;

                transform: skewX(4deg);
            }
        }

        &:nth-of-type(2) {
            .featured-theme__cat__title {
                transition-delay: 1s;
            }

            .featured-theme__btn {
                transition-delay: 1.2s;
            }

            &:before {
                transition-delay: 0.4s;
            }
        }

        &:nth-of-type(3) {
            .featured-theme__cat__title {
                transition-delay: 1.2s;
            }

            .featured-theme__btn {
                transition-delay: 1.4s;
            }

            &:before {
                transition-delay: 0.6s;
            }
        }

        &:after {
            content: '';

            display: block;

            padding-top: 125%;
        }

        @media screen and (max-width: 700px) {
            width: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: rgba(#000, 0.25);
        }
    }

    &__info-wrapper {
        position: absolute;
        bottom: 40px;
        left: 50px;

        max-width: 250px;
    }

    &__cat__title {
        position: relative;

        margin-bottom: 15px;

        transform: translateY(20px);

        transition: all 0.5s ease-in-out;
        transition-delay: 0.8s;

        opacity: 0;

        color: $white;

        z-index: 1;
    }

    &__btn {
        position: relative;

        opacity: 0;

        transform: translateY(20px);

        transition: all 0.5s ease-in-out;
        transition-delay: 1s;

        z-index: 1;
    }
}