@font-face {
    font-family: 'Butler';
    src: url('Butler-Bold.woff');
    src: url('Butler-Bold.woff2');
    src: url('Butler-Medium.woff2');
    src: url('Butler-Medium.woff2');
}

// Vars
$white: #ffffff;
$black: #000000;
$grey: #e3e3e3;
$accent: orange;

$header-height: 70px;
$mobile-header-height: 50px;

// Icons
.icon {
    width: 20px;
    height: 100%;
}


// Base
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preview-bar-iframe {
    display: none !important;
}

html {
    padding: 0 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    &.nav-open {
        .mobile-nav {
            animation: slideIn 0.3s ease-out forwards;
        }
    }
}

h1,
.h1 {
    font-family: 'Butler', serif;
    font-weight: 500;
    font-size: 50px;

    @media screen and (max-width: 512px) {
        font-size: 40px;
    }
}

h2,
.h2 {
    font-family: 'Butler', serif;
    font-weight: 500;
    font-size: 40px;

    @media screen and (max-width: 512px) {
        font-size: 30px;
    }
}

h3,
.h3 {
    font-family: 'Butler', serif;
    font-weight: 500;
    font-size: 30px;

    @media screen and (max-width: 512px) {
        font-size: 20px;
    }
}

h4 {
    font-family: 'Butler', serif;
    font-weight: 500;
    font-size: 30px;

    @media screen and (max-width: 512px) {
        font-size: 20px;
    }
}

p {
    font-size: 16px;
    line-height: 1.4;

    @media screen and (max-width: 512px) {
        font-size: 14px;
    }
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: $black;

    text-decoration: none;

    &:focus {
        outline: none;
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
}


// Defaults
.container {
    position: relative;

    width: 100%;
    max-width: 1620px;

    margin: 0 auto;
    padding: 0 5%;
}

.no-scroll {
    overflow: hidden;
    pointer-events: none;
}

.btn {
    display: inline-block;
    padding: 18px 36px;

    background: transparent;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid $black;

    transition: all .3s ease-in-out;
    transition-property: background, border-color;

    @media screen and (max-width: 512px) {
        padding: 15px 25px;
    }

    &--white {
        background: $white;
        color: $black;
        border-color: $white;

        &:hover {
            background: $black;
            color: $white;
            border-color: $black;
        }
    }

    &:hover {
        background: $black;
        color: $white;
    }
}

.product-card {
    display: flex;
    flex-direction: column;

    &__image {
        transition: opacity 0.3s ease-out;
        
        border: 2px solid $black;

        @media screen and (min-width: 1025px) {
            &:hover {
                opacity: 0.8;
            }
        }
    }


    &__title {
        margin-top: 10px;
        margin-bottom: 5px;

        font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-weight: 300;
    }

    &__price {
        font-size: 18px;
        font-weight: 500;
    }
}

// Header
.site-header__wrapper {
    display: block;
    padding-bottom: $header-height;

    @media screen and (max-width: 1024px) {
        display: none;
    }
}

.site-header {
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: $header-height;

    background: $white;
    color: $black;

    box-shadow: 0 0 15px rgba(#000, .05);

    z-index: 1000;

    &__inner {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;
    }

    &__logo__wrapper {
        flex: 1;

        display: flex;
        align-items: center;

        .logo {
            display: block;

            font-weight: 600;
            font-size: 18px;
        }
    }

    &__logo {
        display: block;

        width: 100%;
        height: auto;
    }

    &__navigation {
        display: block;

        height: 100%;

        &__menu {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;

            .menu__item {
                margin: 0 20px;
                padding: 30px 0;

                &:hover > a {
                    color: $accent;
                }

                &:hover .megamenu {
                    opacity: 1;
                    pointer-events: auto;
                }

                &:hover .megamenu__col {
                    opacity: 1;
                    transform: translate(0, 0);
                }

                .menu__item__link {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 1;

                    color: $black;

                    text-decoration: none;
                }
            }
        }
    }

    &__icons {
        flex: 1;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        height: 100%;
    }

    &__search {
        width: 20px;

        cursor: pointer;
    }

    &__cart {
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 20px;

        margin-left: 30px;

        cursor: pointer;

        img {
            display: block;
        }
    }

    &__cart-count {
        position: absolute;
        top: -5px;
        right: -5px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 15px;
        height: 15px;

        font-size: 8px;

        background: $black;
        color: $white;

        border-radius: 50%;
    }

    &__burger {
        position: relative;

        width: 25px;
        height: 15px;

        margin-left: 30px;

        cursor: pointer;

        &__line {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 2px;

            background: $black;

            &:nth-child(2) {
                top: 50%;

                transform: translateY(-50%);
            }

            &:nth-child(3) {
                top: unset;
                bottom: 0;
            }
        }
    }
}

// Mobile header
.mobile-header__wrapper {
    display: block;
    padding-bottom: $mobile-header-height;

    @media screen and (min-width: 1025px) {
        display: none;
    }
}

.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $mobile-header-height;

    background: $white;
    box-shadow: 0 0 15px rgba(#000, .05);
    z-index: 1000;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger {
        height: 25px;
        
        &.nav-open {
            .mobile-header__burger__line {
                &:nth-of-type(1) {
                    top: 50%;
                    transform: rotate(45deg) translateY(-50%);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    top: 50%;
                    transform: rotate(-45deg) translateY(-50%);
                }
            }
        }
    }

    &__icons {
        flex: 1;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        height: 100%;
    }

    &__search {
        width: 20px;

        cursor: pointer;
    }

    &__cart {
        position: relative;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 20px;

        margin-left: 30px;

        cursor: pointer;

        img {
            display: block;
        }
    }

    &__cart-count {
        position: absolute;
        top: -5px;
        right: -5px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 15px;
        height: 15px;

        font-size: 8px;

        background: $black;
        color: $white;

        border-radius: 50%;
    }

    &__burger {
        position: relative;
        width: 25px;
        height: 15px;

        margin-left: 30px;


        &__line {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 2px;

            background: $black;

            &:nth-child(2) {
                top: 50%;

                transform: translateY(-50%);
            }

            &:nth-child(3) {
                top: unset;
                bottom: 0;
            }
        }
    }
}

// Mobile nav
@keyframes slideIn {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes slideOut {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

.mobile-nav {
    position: fixed;
    top: $mobile-header-height;
    left: 0;
    width: 100%;
    height: calc(100vh - #{$mobile-header-height});

    transform: translate(100%, 0);
    animation: slideOut 0.3s ease-out forwards;

    background: $white;
    overflow: auto;
    z-index: 1000;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;

        padding-top: 40px;
    }

    &__wrapper {
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid $grey;
    }

    .mobile-header__navigation__menu {
        display: none;
        width: 100%;

        padding-top: 15px;

        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }

            a {
                font-size: 16px;
            }
        }

        ul.child-link__mobile-menu {
            display: none;
            padding: 20px;

            .megamenu__grandchild {
                display: none;
                padding: 20px;
            }
        }
    }
}

// Megamenu
.megamenu {
    position: absolute;
    top: $header-height;
    left: 0;
    width: 100%;

    padding: 40px 5%;

    background: $white;
    border-top: 1px solid $grey;
    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease-out;

    &__inner {
        width: auto;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;

        margin: -10px;
    }

    &__col {
        width: calc(25% - 20px);
        margin: 10px;

        opacity: 0;
        transform: translate(0, 20px);
        transition: all 0.3s ease-out;
        transition-property: opacity, transform;
        transition-delay: 0.1s;

        .child-link {
            display: block;

            margin-bottom: 10px;

            font-family: 'Butler', serif;
            font-size: 26px;
        }
    }

    .grandchild-link__menu__item {
        font-size: 16px;
        line-height: 1.4;
        
        transition: transform 0.3s ease-out;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &:hover {
            transform: translate(10px, 0);
        }
    }
}

// Footer
.site-footer {
    position: relative;

    width: 100%;

    margin-top: 50px;
    padding: 70px 0;

    background: #ededed;

    @media screen and (max-width: 512px) {
        padding: 60px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 512px) {
            flex-direction: column;
        }
    }

    &__col {
        flex: 1;

        &:first-child {
            flex: 2;

            .site-footer__heading {
                margin-top: 15px;
                margin-bottom: 15px;

                transition: transform 0.3s ease-out;

                &:hover {
                    transform: translateX(10px);
                }
            }
        }

        @media screen and (max-width: 512px) {
            text-align: center;

            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }

        &__nav__item {
            transition: transform 0.3s ease-out;

            line-height: 1.6;

            &:hover {
                transform: translateX(10px);
            }
        }
    }

    &__heading {
        margin-bottom: 15px;
    }

    &__text {
        line-height: 1.6;
    }
}

// Slidenav
.slidenav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 0;

    background: $white;

    z-index: 1010;

    &__layer {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 0;

        background: $black;

        z-index: 10;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;

        cursor: pointer;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;

        background: $white;
        opacity: 0;
        pointer-events: none;

        z-index: 1010;
    }

    &__left {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 40%;
        height: 100%;

        background: $white;
        opacity: 0;
        pointer-events: none;

        &__image-wrapper {
            position: relative;
            width: 50%;
            height: 50vh;

            img {
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__link-title {
            position: absolute;
            top: -30px;
            left: -40px;

            font-family: 'Butler', serif;
            font-size: 40px;

            opacity: 0;
            transform: translateY(20px);
            transition: all 0.3s ease-out;
            transition-property: transform, opacity;

            z-index: 1;

            &.active {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__right {
        position: absolute;
        top: 0;
        right: 0;

        width: 60%;
        height: 100%;

        background: $grey;

        pointer-events: none;
    }

    &__nav {
        position: absolute;
        top: 150px;
        left: 150px;

        h3 {
            margin-bottom: 15px;

            font-size: 50px;
        }
    }

    &__linklist__menu {
        .menu__item {
            opacity: 0;
            transform: translate(0, 20px);
            transition: transform 0.3s ease-out;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:hover {
                transform: translate(10px, 0) !important;
            }

            a {
                font-size: 20px;
            }
        }
    }
}

// Hero
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translate(0, 50px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hero {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: calc(100vh - #{$header-height});

    @media screen and (max-width: 1024px) {
        height: calc(70vh - #{$mobile-header-height});
    }

    @media screen and (max-width: 512px) {
        height: calc(90vh - #{$mobile-header-height});
    }

    &__slider {
        position: relative;
        width: 100%;
        height: 100%;

        .slick-list,
        .slick-track {
            height: 100%;
        }

        .slick-slide {

            &.slick-active {
                .hero__title {
                    animation: fade-in 0.5s ease-out forwards;
                    animation-delay: 0.4s;
                }

                .hero__text {
                    animation: fade-in 0.5s ease-out forwards;
                    animation-delay: 0.5s;
                }

                .hero__btn {
                    animation: fade-in 0.5s ease-in-out forwards;
                    animation-delay: 0.6s;
                }
            }

            > div {
                height: 100%;
            }
        }

        @keyframes fade-in-up {
            0% {
                opacity: 0;
                transform: translate(0, 50px);
            }
            100% {
                opacity: 1;
                transform: translate(0, 0);
            }
        }

        &__controls {
            position: absolute;
            right: 0;
            bottom: 0;

            display: flex;

            opacity: 0;
            transform: translate(0, 50px);

            animation: fade-in-up 0.3s ease-out forwards;
            animation-delay: 1.4s;

            @media screen and (max-width: 512px) {
                display: none;
            }

            .prev,
            .next {
                padding: 25px 35px;

                background: $white;
                color: $black;

                cursor: pointer;

                img {
                    width: 15px;

                    transition: transform 0.3s ease-out;
                }
            }

            .next {
                border-left: 1px solid $grey;

                &:hover img {
                    transform: translate(10px, 0);
                }
            }

            .prev {
                transform: rotate(180deg);
                
                &:hover img {
                    transform: translate(10px, 0);
                }
            }
        }
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;

        display: flex !important;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        z-index: 1;
    }

    &__text-wrapper {
        position: relative;
        margin-left: 5%;

        z-index: 1;
    }

    &__title {
        position: relative;
        max-width: 500px;

        margin-bottom: 10px;

        opacity: 0;
        transform: translate(0, 50px);
        z-index: 1;
    }

    &__text {
        position: relative;
        max-width: 400px;
        margin-bottom: 50px;

        opacity: 0;
        transform: translate(0, 50px);
        z-index: 1;
    }

    &__btn {
        position: relative;

        opacity: 0;
        transform: translate(0, 50px);
        z-index: 1;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: $white;
        opacity: 0.3;
        z-index: 0;

        @media screen and (min-width: 513px) {
            display: none;
        }
    }

    &__scroll {
        position: absolute;
        bottom: 50px;
        left: 50%;

        transform: translateX(-50%) rotate(-90deg);

        font-size: 12px;
        letter-spacing: 1px;

        text-transform: uppercase;

        z-index: 1;

        &:before {
            content: '';

            position: absolute;
            top: 50%;
            left: -90px;

            width: 70px;
            height: 2px;

            background: $black;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;

        z-index: -1;
    }
}

// Featured collection
.featured-collection {
    margin-top: 100px;
    margin-bottom: 60px;

    &__title {
        max-width: 300px;

        margin-bottom: 30px;

        transform: translateY(20px);

        opacity: 0;
    }

    &__slider {
        transform: translateY(20px);

        opacity: 0;

        &__controls {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100vw;

            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 0 calc(-50vw + 50%);
            padding: 0 20px;

            transform: translateY(-50%);

            z-index: 1;

            @media screen and (max-width: 512px) {
                top: 35px;
                justify-content: flex-end;
            }

            .slick-arrow {
                width: 20px;
            }

            .prev,
            .next {
                cursor: pointer;
            }

            .prev {
                transform: rotate(180deg);
            }

            @media screen and (max-width: 512px) {
                .next {
                    margin-left: 15px;
                }
            }
        }
    }

    .slick-list {
        margin: 0 -10px;
    }

    .slick-slide {
        margin: 0 10px;
    }

    &__product-card {
        width: 25%;
    }
}

// Featured category
.featured-category {
    margin-bottom: 60px;

    &__title {
        margin-bottom: 30px;
    }

    &__row {
        min-width: 100%;

        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;

        margin: -20px;
        padding-bottom: 20px;
    }

    &__col {
        position: relative;
        width: calc(50% - 40px);

        margin: 20px;

        &:before {
            content: '';

            position: absolute;
            top: 0;
            height: 0;
            width: 100%;
            height: 100%;

            background: $white;

            transition: all 0.7s ease-in-out;
            transition-delay: 0.2s;

            z-index: 2;
        }

        &.is-visible {
            .featured-category__cat__title {
                opacity: 1;
                transform: translate(0);
            }

            .featured-category__btn {
                opacity: 1;
                transform: translate(0);
            }

            &:before {
                width: 0;
                transform: skewX(4px);
            }
        }

        &:nth-of-type(2) {
            .featured-category__cat__title {
                transition-delay: 1s;
            }

            .featured-category__btn {
                transition-delay: 1.2s;
            }

            &:before {
                transition-delay: 0.4s;
            }
        }

        &:nth-of-type(3) {
            .featured-category__cat__title {
                transition-delay: 1.2s;
            }

            .featured-category__btn {
                transition-delay: 1.4s;
            }

            &:before {
                transition-delay: 0.6s;
            }
        }

        &:nth-of-type(4) {
            .featured-category__cat__title {
                transition-delay: 1.4s;
            }

            .featured-category__btn {
                transition-delay: 1.6s;
            }

            &:before {
                transition-delay: 0.8s;
            }
        }

        &:nth-of-type(5) {
            .featured-category__cat__title {
                transition-delay: 1.6s;
            }

            .featured-category__btn {
                transition-delay: 1.8s;
            }

            &:before {
                transition-delay: 1s;
            }
        }

        &:nth-of-type(6) {
            .featured-category__cat__title {
                transition-delay: 1.8s;
            }

            .featured-category__btn {
                transition-delay: 2s;
            }

            &:before {
                transition-delay: 1.2s;
            }
        }

        &:after {
            content: '';

            display: block;

            padding-top: 70%;
        }

        @media screen and (max-width: 700px) {
            width: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: rgba(#000, 0.25);
        }
    }

    &__info-wrapper {
        position: absolute;
        bottom: 60px;
        left: 60px;

        @media screen and (max-width: 512px) {
            bottom: 40px;
            left: 40px;
        }
    }

    &__cat__title {
        position: relative;

        margin-bottom: 10px;

        transform: translateY(20px);

        transition: all 0.5s ease-in-out;
        transition-delay: 0.8s;

        opacity: 0;

        color: $white;

        z-index: 1;
    }

    &__btn {
        position: relative;

        opacity: 0;

        transform: translateY(20px);

        transition: all 0.5s ease-in-out;
        transition-delay: 1s;

        z-index: 1;
    }
}

// Featured theme
.featured-theme {
    margin-bottom: 60px;

    &__title {
        margin-bottom: 30px;
    }

    &__row {
        min-width: 100%;

        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;

        margin: -20px;
        padding-bottom: 20px;
    }

    &__col {
        position: relative;
        width: calc(33% - 40px);

        margin: 20px;

        &:before {
            content: '';

            position: absolute;
            top: 0;
            height: 0;
            width: 100%;
            height: 100%;

            background: $white;

            transition: all 0.7s ease-in-out;
            transition-delay: 0.2s;

            z-index: 2;
        }

        &.is-visible {
            .featured-theme__cat__title {
                opacity: 1;
                transform: translateY(0);
            }

            .featured-theme__btn {
                opacity: 1;
                transform: translateY(0);
            }

            &:before {
                width: 0;

                left: -20px;

                transform: skewX(4deg);
            }
        }

        &:nth-of-type(2) {
            .featured-theme__cat__title {
                transition-delay: 1s;
            }

            .featured-theme__btn {
                transition-delay: 1.2s;
            }

            &:before {
                transition-delay: 0.4s;
            }
        }

        &:nth-of-type(3) {
            .featured-theme__cat__title {
                transition-delay: 1.2s;
            }

            .featured-theme__btn {
                transition-delay: 1.4s;
            }

            &:before {
                transition-delay: 0.6s;
            }
        }

        &:after {
            content: '';

            display: block;

            padding-top: 125%;
        }

        @media screen and (max-width: 700px) {
            width: 100%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            background: rgba(#000, 0.25);
        }
    }

    &__info-wrapper {
        position: absolute;
        bottom: 40px;
        left: 50px;

        max-width: 250px;

        @media screen and (max-width: 512px) {
            left: 40px;
        }
    }

    &__cat__title {
        position: relative;

        margin-bottom: 15px;

        transform: translateY(20px);

        transition: all 0.5s ease-in-out;
        transition-delay: 0.8s;

        opacity: 0;

        color: $white;

        z-index: 1;
    }

    &__btn {
        position: relative;

        opacity: 0;

        transform: translateY(20px);

        transition: all 0.5s ease-in-out;
        transition-delay: 1s;

        z-index: 1;
    }
}

// Info section
.info-section {
    margin-bottom: 60px;

    &__inner {
        position: relative;
        width: 100%;
        
        display: flex;

        @media (max-width: 512px) {
            flex-direction: column;
        }

        &.reverse {
            flex-direction: row-reverse;

            @media (max-width: 512px) {
                flex-direction: column-reverse;
            }
        }
    }

    &__image {
        position: relative;
        width: 50%;

        overflow: hidden;

        &:after {
            content: '';
            display: block;

            padding-top: 100%;
        }

        @media (max-width: 512px) {
            width: 100%;

            &:after {
                padding-top: 100%;
            }
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            object-fit: cover;

            transform: scale(1.2);
        }
    }

    &__text {
        width: 50%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 30px 5%;

        h2 {
            margin-bottom: 15px;

            opacity: 0;
            transform: translateY(50px);
        }

        p {
            opacity: 0;
            transform: translateY(50px);
        }

        @media screen and (max-width: 512px) {
            width: 100%;
        }
    }
}

// Instagram feed
.instagram-feed {
    margin-bottom: 60px;

    &__title {
        margin-bottom: 30px;
        text-align: center;

        a {
            color: $black;
            text-decoration: none;
        }
    }

    #instafeed {
        margin: -8px;
        display: flex;
        flex-flow: row wrap;
        width: auto;

        @media (max-width: 768px) {
            margin: 0;
        }

        .instagram-feed__image {
            position: relative;
            width: calc(100% / 5 - 16px);

            margin: 8px;

            &:after {
                content: '';

                display: block;

                padding-top: 100%;
            }

            @media (max-width: 1024px) {
                width: calc(100% / 3 - 16px);

                &:nth-child(n+7) {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                width: calc(100% / 2 - 16px);

                &:nth-child(n+5) {
                    display: none;
                }
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                object-fit: cover;
            }
        }
    }
}

// Collection
.collection-grid {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: -5px;

    .product-card {
        width: calc(100% / 6 - 10px);
        margin: 5px;
    }
}

// Poster match
.poster-match {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    min-height: 100vh;
    background: $white;

    overflow: auto;
    z-index: 1010;

    &.is-visible {
        display: block;
    }

    &__inner {
        position: absolute;

        img {
            width: calc(100% / 6 - 10px);
            margin: 5px;

            cursor: pointer;
        }
    }

    &__canvas {
        position: relative;
        width: 100%;

        background: #f6f5f6;

        &:after {
            content: '';
            display: block;

            padding-top: 56.25%;
        }

        #myImg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            margin: 0;
            object-fit: cover;
        }
    }

    &__frame1,
    &__frame2 {
        position: absolute;

        display: inline-block;
        width: 150px;
        height: 200px;
        
        border: 2px solid $black;

        cursor: pointer;

        img {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            object-fit: cover;

            margin: 0;
        }
    }

    &__frame1 {
        top: 0;
        left: 0;
    }

    &__frame2 {
        top: 0;
        left: 150px;
    }

    &__frame1-grid,
    &__frame2-grid {
        display: none;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 100vh;

        background: $white;

        overflow: auto;
        z-index: 1020;

        &.is-visible {
            display: block;
        }
    }

    &__grid1,
    &__grid2 {
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;

        width: auto;

        display: flex;
        flex-flow: row wrap;

        margin: -5px;
    }
}

// draggable test
#container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: 50px auto;
    background: #f5f6f5;

    .box {
        width: 100px;
        height: 200px;

        &.red {
            background: red;
        }

        &.green {
            background: green;
        }
    }
}