@font-face {
  font-family: 'Butler';
  src: url("Butler-Bold.woff");
  src: url("Butler-Bold.woff2");
  src: url("Butler-Medium.woff2");
  src: url("Butler-Medium.woff2");
}

.icon {
  width: 20px;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#preview-bar-iframe {
  display: none !important;
}

html {
  padding: 0 !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

body.nav-open .mobile-nav {
  -webkit-animation: slideIn 0.3s ease-out forwards;
          animation: slideIn 0.3s ease-out forwards;
}

h1,
.h1 {
  font-family: 'Butler', serif;
  font-weight: 500;
  font-size: 50px;
}

@media screen and (max-width: 512px) {
  h1,
  .h1 {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-family: 'Butler', serif;
  font-weight: 500;
  font-size: 40px;
}

@media screen and (max-width: 512px) {
  h2,
  .h2 {
    font-size: 30px;
  }
}

h3,
.h3 {
  font-family: 'Butler', serif;
  font-weight: 500;
  font-size: 30px;
}

@media screen and (max-width: 512px) {
  h3,
  .h3 {
    font-size: 20px;
  }
}

h4 {
  font-family: 'Butler', serif;
  font-weight: 500;
  font-size: 30px;
}

@media screen and (max-width: 512px) {
  h4 {
    font-size: 20px;
  }
}

p {
  font-size: 16px;
  line-height: 1.4;
}

@media screen and (max-width: 512px) {
  p {
    font-size: 14px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:focus {
  outline: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 5%;
}

.no-scroll {
  overflow: hidden;
  pointer-events: none;
}

.btn {
  display: inline-block;
  padding: 18px 36px;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #000000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transition-property: background, border-color;
  transition-property: background, border-color;
}

@media screen and (max-width: 512px) {
  .btn {
    padding: 15px 25px;
  }
}

.btn--white {
  background: #ffffff;
  color: #000000;
  border-color: #ffffff;
}

.btn--white:hover {
  background: #000000;
  color: #ffffff;
  border-color: #000000;
}

.btn:hover {
  background: #000000;
  color: #ffffff;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-card__image {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  border: 2px solid #000000;
}

@media screen and (min-width: 1025px) {
  .product-card__image:hover {
    opacity: 0.8;
  }
}

.product-card__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.product-card__price {
  font-size: 18px;
  font-weight: 500;
}

.site-header__wrapper {
  display: block;
  padding-bottom: 70px;
}

@media screen and (max-width: 1024px) {
  .site-header__wrapper {
    display: none;
  }
}

.site-header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.site-header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.site-header__logo__wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__logo__wrapper .logo {
  display: block;
  font-weight: 600;
  font-size: 18px;
}

.site-header__logo {
  display: block;
  width: 100%;
  height: auto;
}

.site-header__navigation {
  display: block;
  height: 100%;
}

.site-header__navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.site-header__navigation__menu .menu__item {
  margin: 0 20px;
  padding: 30px 0;
}

.site-header__navigation__menu .menu__item:hover > a {
  color: orange;
}

.site-header__navigation__menu .menu__item:hover .megamenu {
  opacity: 1;
  pointer-events: auto;
}

.site-header__navigation__menu .menu__item:hover .megamenu__col {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.site-header__navigation__menu .menu__item .menu__item__link {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  color: #000000;
  text-decoration: none;
}

.site-header__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.site-header__search {
  width: 20px;
  cursor: pointer;
}

@-webkit-keyframes searchDown {
  0% {
    top: -100%;
  }
  100% {
    top: 70px;
  }
}

@keyframes searchDown {
  0% {
    top: -100%;
  }
  100% {
    top: 70px;
  }
}

@-webkit-keyframes searchDownMobile {
  0% {
    top: -100%;
  }
  100% {
    top: 50px;
  }
}

@keyframes searchDownMobile {
  0% {
    top: -100%;
  }
  100% {
    top: 50px;
  }
}

@-webkit-keyframes searchUp {
  0% {
    top: 70px;
  }
  100% {
    top: -100%;
  }
}

@keyframes searchUp {
  0% {
    top: 70px;
  }
  100% {
    top: -100%;
  }
}

@-webkit-keyframes searchUpMobile {
  0% {
    top: 50px;
  }
  100% {
    top: -100%;
  }
}

@keyframes searchUpMobile {
  0% {
    top: 50px;
  }
  100% {
    top: -100%;
  }
}

.site-header__search__wrapper {
  position: absolute;
  top: -100%;
  right: 0;
  width: 250px;
  padding: 20px;
  background: #ffffff;
  z-index: 100;
  -webkit-animation: searchUp 0.3s ease-out forwards;
          animation: searchUp 0.3s ease-out forwards;
}

.site-header__search__wrapper.active {
  -webkit-animation: searchDown 0.3s ease-out forwards;
          animation: searchDown 0.3s ease-out forwards;
}

@media screen and (max-width: 512px) {
  .site-header__search__wrapper {
    width: 100%;
    -webkit-animation: searchUpMobile 0.5s ease-out forwards;
            animation: searchUpMobile 0.5s ease-out forwards;
  }
  .site-header__search__wrapper.active {
    -webkit-animation: searchDownMobile 0.5s ease-out forwards;
            animation: searchDownMobile 0.5s ease-out forwards;
  }
}

.site-header__search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
}

.site-header__search__input {
  width: 100%;
  height: 40px;
  padding: 10px;
  background: #e3e3e3;
  border: none;
  font-size: 16px;
}

.site-header__search__input:focus {
  outline: none;
}

.site-header__cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.site-header__cart img {
  display: block;
}

.site-header__cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  font-size: 8px;
  background: #000000;
  color: #ffffff;
  border-radius: 50%;
}

.site-header__burger {
  position: relative;
  width: 25px;
  height: 15px;
  margin-left: 30px;
  cursor: pointer;
}

.site-header__burger__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
}

.site-header__burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.site-header__burger__line:nth-child(3) {
  top: unset;
  bottom: 0;
}

.mobile-header__wrapper {
  display: block;
  padding-bottom: 50px;
}

@media screen and (min-width: 1025px) {
  .mobile-header__wrapper {
    display: none;
  }
}

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.mobile-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-header__burger {
  height: 25px;
}

.mobile-header__burger.nav-open .mobile-header__burger__line:nth-of-type(1) {
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

.mobile-header__burger.nav-open .mobile-header__burger__line:nth-of-type(2) {
  opacity: 0;
}

.mobile-header__burger.nav-open .mobile-header__burger__line:nth-of-type(3) {
  top: 50%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.mobile-header__icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.mobile-header__search {
  width: 20px;
  cursor: pointer;
}

.mobile-header__cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  margin-left: 30px;
  cursor: pointer;
}

.mobile-header__cart img {
  display: block;
}

.mobile-header__cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15px;
  height: 15px;
  font-size: 8px;
  background: #000000;
  color: #ffffff;
  border-radius: 50%;
}

.mobile-header__burger {
  position: relative;
  width: 25px;
  height: 15px;
  margin-left: 30px;
}

.mobile-header__burger__line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
}

.mobile-header__burger__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mobile-header__burger__line:nth-child(3) {
  top: unset;
  bottom: 0;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

@keyframes slideOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}

.mobile-nav {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100vh - 50px);
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-animation: slideOut 0.3s ease-out forwards;
          animation: slideOut 0.3s ease-out forwards;
  background: #ffffff;
  overflow: auto;
  z-index: 1000;
}

.mobile-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.mobile-nav__wrapper {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #e3e3e3;
}

.mobile-nav .mobile-header__navigation__menu {
  display: none;
  width: 100%;
  padding-top: 15px;
}

.mobile-nav .mobile-header__navigation__menu li:not(:last-child) {
  margin-bottom: 10px;
}

.mobile-nav .mobile-header__navigation__menu li a {
  font-size: 16px;
}

.mobile-nav .mobile-header__navigation__menu ul.child-link__mobile-menu {
  display: none;
  padding: 20px;
}

.mobile-nav .mobile-header__navigation__menu ul.child-link__mobile-menu .megamenu__grandchild {
  display: none;
  padding: 20px;
}

.megamenu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  padding: 40px 5%;
  background: #ffffff;
  border-top: 1px solid #e3e3e3;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.megamenu__inner {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: -10px;
}

.megamenu__col {
  width: calc(25% - 20px);
  margin: 10px;
  opacity: 0;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.megamenu__col .child-link {
  display: block;
  margin-bottom: 10px;
  font-family: 'Butler', serif;
  font-size: 26px;
}

.megamenu .grandchild-link__menu__item {
  font-size: 16px;
  line-height: 1.4;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.megamenu .grandchild-link__menu__item:not(:last-child) {
  margin-bottom: 5px;
}

.megamenu .grandchild-link__menu__item:hover {
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

.site-footer {
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding: 70px 0;
  background: #ededed;
}

@media screen and (max-width: 512px) {
  .site-footer {
    padding: 60px 0;
  }
}

.site-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 512px) {
  .site-footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.site-footer__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.site-footer__col:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.site-footer__col:first-child .site-footer__heading {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.site-footer__col:first-child .site-footer__heading:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

@media screen and (max-width: 512px) {
  .site-footer__col {
    text-align: center;
  }
  .site-footer__col:not(:last-child) {
    margin-bottom: 40px;
  }
}

.site-footer__col__nav__item {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  line-height: 1.6;
}

.site-footer__col__nav__item:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.site-footer__heading {
  margin-bottom: 15px;
}

.site-footer__text {
  line-height: 1.6;
}

.slidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #ffffff;
  z-index: 1010;
}

.slidenav__layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #000000;
  z-index: 10;
}

.slidenav__close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.slidenav__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  opacity: 0;
  pointer-events: none;
  z-index: 1010;
}

.slidenav__left {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 100%;
  background: #ffffff;
  opacity: 0;
  pointer-events: none;
}

.slidenav__left__image-wrapper {
  position: relative;
  width: 50%;
  height: 50vh;
}

.slidenav__left__image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slidenav__left__link-title {
  position: absolute;
  top: -30px;
  left: -40px;
  font-family: 'Butler', serif;
  font-size: 40px;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  z-index: 1;
}

.slidenav__left__link-title.active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slidenav__right {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background: #e3e3e3;
  pointer-events: none;
}

.slidenav__nav {
  position: absolute;
  top: 150px;
  left: 150px;
}

.slidenav__nav h3 {
  margin-bottom: 15px;
  font-size: 50px;
}

.slidenav__linklist__menu .menu__item {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.slidenav__linklist__menu .menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.slidenav__linklist__menu .menu__item:hover {
  -webkit-transform: translate(10px, 0) !important;
          transform: translate(10px, 0) !important;
}

.slidenav__linklist__menu .menu__item a {
  font-size: 20px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: calc(100vh - 70px);
}

@media screen and (max-width: 1024px) {
  .hero {
    height: calc(70vh - 50px);
  }
}

@media screen and (max-width: 512px) {
  .hero {
    height: calc(90vh - 50px);
  }
}

.hero__slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero__slider .slick-list,
.hero__slider .slick-track {
  height: 100%;
}

.hero__slider .slick-slide.slick-active .hero__title {
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.hero__slider .slick-slide.slick-active .hero__text {
  -webkit-animation: fade-in 0.5s ease-out forwards;
          animation: fade-in 0.5s ease-out forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.hero__slider .slick-slide.slick-active .hero__btn {
  -webkit-animation: fade-in 0.5s ease-in-out forwards;
          animation: fade-in 0.5s ease-in-out forwards;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.hero__slider .slick-slide > div {
  height: 100%;
}

@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.hero__slider__controls {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-animation: fade-in-up 0.3s ease-out forwards;
          animation: fade-in-up 0.3s ease-out forwards;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

@media screen and (max-width: 512px) {
  .hero__slider__controls {
    display: none;
  }
}

.hero__slider__controls .prev,
.hero__slider__controls .next {
  padding: 25px 35px;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
}

.hero__slider__controls .prev img,
.hero__slider__controls .next img {
  width: 15px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.hero__slider__controls .next {
  border-left: 1px solid #e3e3e3;
}

.hero__slider__controls .next:hover img {
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

.hero__slider__controls .prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hero__slider__controls .prev:hover img {
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

.hero__inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.hero__text-wrapper {
  position: relative;
  margin-left: 5%;
  z-index: 1;
}

.hero__title {
  position: relative;
  max-width: 500px;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  z-index: 1;
}

.hero__text {
  position: relative;
  max-width: 400px;
  margin-bottom: 50px;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  z-index: 1;
}

.hero__btn {
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  z-index: 1;
}

.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0.3;
  z-index: 0;
}

@media screen and (min-width: 513px) {
  .hero__overlay {
    display: none;
  }
}

.hero__scroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-90deg);
          transform: translateX(-50%) rotate(-90deg);
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 1;
}

.hero__scroll:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -90px;
  width: 70px;
  height: 2px;
  background: #000000;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.featured-collection {
  margin-top: 100px;
  margin-bottom: 60px;
}

.featured-collection__title {
  max-width: 300px;
  margin-bottom: 30px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

.featured-collection__slider {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
}

.featured-collection__slider__controls {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 calc(-50vw + 50%);
  padding: 0 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 512px) {
  .featured-collection__slider__controls {
    top: 35px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.featured-collection__slider__controls .slick-arrow {
  width: 20px;
}

.featured-collection__slider__controls .prev,
.featured-collection__slider__controls .next {
  cursor: pointer;
}

.featured-collection__slider__controls .prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 512px) {
  .featured-collection__slider__controls .next {
    margin-left: 15px;
  }
}

.featured-collection .slick-list {
  margin: 0 -10px;
}

.featured-collection .slick-slide {
  margin: 0 10px;
}

.featured-collection__product-card {
  width: 25%;
}

.featured-category {
  margin-bottom: 60px;
}

.featured-category__title {
  margin-bottom: 30px;
}

.featured-category__row {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: -20px;
  padding-bottom: 20px;
}

.featured-category__col {
  position: relative;
  width: calc(50% - 40px);
  margin: 20px;
}

.featured-category__col:before {
  content: '';
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 2;
}

.featured-category__col.is-visible .featured-category__cat__title {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.featured-category__col.is-visible .featured-category__btn {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.featured-category__col.is-visible:before {
  width: 0;
  -webkit-transform: skewX(4px);
          transform: skewX(4px);
}

.featured-category__col:nth-of-type(2) .featured-category__cat__title {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.featured-category__col:nth-of-type(2) .featured-category__btn {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.featured-category__col:nth-of-type(2):before {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.featured-category__col:nth-of-type(3) .featured-category__cat__title {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.featured-category__col:nth-of-type(3) .featured-category__btn {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.featured-category__col:nth-of-type(3):before {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.featured-category__col:nth-of-type(4) .featured-category__cat__title {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.featured-category__col:nth-of-type(4) .featured-category__btn {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.featured-category__col:nth-of-type(4):before {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.featured-category__col:nth-of-type(5) .featured-category__cat__title {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

.featured-category__col:nth-of-type(5) .featured-category__btn {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.featured-category__col:nth-of-type(5):before {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.featured-category__col:nth-of-type(6) .featured-category__cat__title {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

.featured-category__col:nth-of-type(6) .featured-category__btn {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.featured-category__col:nth-of-type(6):before {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.featured-category__col:after {
  content: '';
  display: block;
  padding-top: 70%;
}

@media screen and (max-width: 700px) {
  .featured-category__col {
    width: 100%;
  }
}

.featured-category__col img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured-category__col .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.featured-category__info-wrapper {
  position: absolute;
  bottom: 60px;
  left: 60px;
}

@media screen and (max-width: 512px) {
  .featured-category__info-wrapper {
    bottom: 40px;
    left: 40px;
  }
}

.featured-category__cat__title {
  position: relative;
  margin-bottom: 10px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  opacity: 0;
  color: #ffffff;
  z-index: 1;
}

.featured-category__btn {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 1;
}

.featured-theme {
  margin-bottom: 60px;
}

.featured-theme__title {
  margin-bottom: 30px;
}

.featured-theme__row {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: -20px;
  padding-bottom: 20px;
}

.featured-theme__col {
  position: relative;
  width: calc(33% - 40px);
  margin: 20px;
}

.featured-theme__col:before {
  content: '';
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 2;
}

.featured-theme__col.is-visible .featured-theme__cat__title {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.featured-theme__col.is-visible .featured-theme__btn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.featured-theme__col.is-visible:before {
  width: 0;
  left: -20px;
  -webkit-transform: skewX(4deg);
          transform: skewX(4deg);
}

.featured-theme__col:nth-of-type(2) .featured-theme__cat__title {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.featured-theme__col:nth-of-type(2) .featured-theme__btn {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.featured-theme__col:nth-of-type(2):before {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.featured-theme__col:nth-of-type(3) .featured-theme__cat__title {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.featured-theme__col:nth-of-type(3) .featured-theme__btn {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.featured-theme__col:nth-of-type(3):before {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.featured-theme__col:after {
  content: '';
  display: block;
  padding-top: 125%;
}

@media screen and (max-width: 700px) {
  .featured-theme__col {
    width: 100%;
  }
}

.featured-theme__col img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.featured-theme__col .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.featured-theme__info-wrapper {
  position: absolute;
  bottom: 40px;
  left: 50px;
  max-width: 250px;
}

@media screen and (max-width: 512px) {
  .featured-theme__info-wrapper {
    left: 40px;
  }
}

.featured-theme__cat__title {
  position: relative;
  margin-bottom: 15px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  opacity: 0;
  color: #ffffff;
  z-index: 1;
}

.featured-theme__btn {
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 1;
}

.info-section {
  margin-bottom: 60px;
}

.info-section__inner {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 512px) {
  .info-section__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info-section__inner.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 512px) {
  .info-section__inner.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.info-section__image {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.info-section__image:after {
  content: '';
  display: block;
  padding-top: 100%;
}

@media (max-width: 512px) {
  .info-section__image {
    width: 100%;
  }
  .info-section__image:after {
    padding-top: 100%;
  }
}

.info-section__image__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.info-section__text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 5%;
}

.info-section__text h2 {
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.info-section__text p {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media screen and (max-width: 512px) {
  .info-section__text {
    width: 100%;
  }
}

.instagram-feed {
  margin-bottom: 60px;
}

.instagram-feed__title {
  margin-bottom: 30px;
  text-align: center;
}

.instagram-feed__title a {
  color: #000000;
  text-decoration: none;
}

.instagram-feed #instafeed {
  margin: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: auto;
}

@media (max-width: 768px) {
  .instagram-feed #instafeed {
    margin: 0;
  }
}

.instagram-feed #instafeed .instagram-feed__image {
  position: relative;
  width: calc(100% / 5 - 16px);
  margin: 8px;
}

.instagram-feed #instafeed .instagram-feed__image:after {
  content: '';
  display: block;
  padding-top: 100%;
}

@media (max-width: 1024px) {
  .instagram-feed #instafeed .instagram-feed__image {
    width: calc(100% / 3 - 16px);
  }
  .instagram-feed #instafeed .instagram-feed__image:nth-child(n+7) {
    display: none;
  }
}

@media (max-width: 768px) {
  .instagram-feed #instafeed .instagram-feed__image {
    width: calc(100% / 2 - 16px);
  }
  .instagram-feed #instafeed .instagram-feed__image:nth-child(n+5) {
    display: none;
  }
}

.instagram-feed #instafeed .instagram-feed__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.collection-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: auto;
  margin: -5px;
}

.collection-grid .product-card {
  width: calc(100% / 6 - 10px);
  margin: 5px;
}

.poster-match {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  overflow: auto;
  z-index: 1010;
}

.poster-match.is-visible {
  display: block;
}

.poster-match__inner {
  position: absolute;
}

.poster-match__inner img {
  width: calc(100% / 6 - 10px);
  margin: 5px;
  cursor: pointer;
}

.poster-match__canvas {
  position: relative;
  width: 100%;
  background: #f6f5f6;
}

.poster-match__canvas:after {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.poster-match__canvas #myImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.poster-match__frame1, .poster-match__frame2 {
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 200px;
  border: 2px solid #000000;
  cursor: pointer;
}

.poster-match__frame1 img, .poster-match__frame2 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.poster-match__frame1 {
  top: 0;
  left: 0;
}

.poster-match__frame2 {
  top: 0;
  left: 150px;
}

.poster-match__frame1-grid, .poster-match__frame2-grid {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  overflow: auto;
  z-index: 1020;
}

.poster-match__frame1-grid.is-visible, .poster-match__frame2-grid.is-visible {
  display: block;
}

.poster-match__grid1, .poster-match__grid2 {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: -5px;
}

#container {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 50px auto;
  background: #f5f6f5;
}

#container .box {
  width: 100px;
  height: 200px;
}

#container .box.red {
  background: red;
}

#container .box.green {
  background: green;
}
/*# sourceMappingURL=application.css.map */