<div class="section container grid" id="collection">

    <div class="collection-main__header talign-center">
        <h1 class="headline-small">Plakater</h1>
        <p class="collection-main__description">
            {{ collection.description }}
        </p>
    </div>

    {% include 'collection-sidebar' %}

    {% include 'collection-main' %}

</div>