<div class="collection">
    <div class="collection__header container">
        <h1 class="collection__header__title">{{ collection.title }}</h1>
        <div class="collection__header__description">{{ collection.description }}</div>
    </div>

    <div class="collection__inner container">
        <div class="collection__sidebar">
            <h3 class="collection__sidebar__title">Kollektioner</h3>

            <div class="collection__sidebar__linklist-wrapper">
                {% section 'collection-sidebar' %}
            </div>
        </div>

        <div class="collection__main">
            <div class="collection__main__row">
                {% for product in collection.products %}
                    <div class="collection__main__row__item">
                        {% include 'product-card' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>