<div class="container" id="collection">

    <div class="collection-main__header talign-center">
        <h1 class="headline-small">Plakater</h1>
        <p class="collection-main__description">
            {{ collection.description }}
        </p>
    </div>

    <button id="poster-match__btn" class="btn">Poster match</button>
    <div class="poster-match">
        {% include 'poster-match' %}
    </div>

    {%- comment -%}
        {% include 'collection-sidebar' %}
    {%- endcomment -%}

    {% include 'collection-main' %}

</div>