{%- assign desc = collection.description | split: '%%%' -%}

<div class="collection">
    <div class="collection__header container">
        <h1 class="collection__header__title">{{ collection.title }}</h1>
        <div class="collection__header__description top">
            {% if desc.size > 1 %}
                {{ desc[0] }}
            {% else %}
                {{ collection.description }}
            {% endif %}
        </div>
    </div>

    <div class="collection__inner container">
        <div class="collection__sidebar">
            <h3 class="collection__sidebar__title">Kollektioner</h3>

            <div class="collection__sidebar__linklist-wrapper">
                {% section 'collection-sidebar' %}
            </div>
        </div>

        <div class="collection__main">
            <div class="collection__main__row">
                {% for product in collection.products %}
                    {% if product.available %}
                        <div class="collection__main__row__item">
                            {% include 'product-card' %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if desc.size > 1 %}
        <div class="container">
            <div class="collection__header__description bottom">
                {{ desc[1] }}
            </div>
        </div>
    {% endif %}
</div>